reversible_carmen_internal_dsl/src/language/xml/schema.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="rwxml_math.xsd"/>

<xs:element name="Q" type="xs:string"/>
<xs:element name="ASD" type="xs:string"/>

<xs:element name="sequence">
<xs:attribute name="lang" type="xs:string" use="required"/>
  <xs:complexType>
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
